---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header_index.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <figure style="display:block;text-align:center">
          <img src="assets/images/default.png" width="280px" style="display:inline;"> </img>
        </figure>
        <br>
        <div>
          {{ content }}
        </div>
      </div>

    </main>

    {% include footer_index.html %}

  </body>

</html>
